[data-md-color-scheme="default"] {
  --md-primary-fg-color: #df6a2d;
  --md-primary-fg-color--light: #ea8b3d;
  --md-primary-fg-color--dark: #aa3e22;
  --md-accent-fg-color: #ff8c42;
  --md-accent-fg-color--transparent: #ff8c421a;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #ff7428;
  --md-primary-fg-color--light: #ff9a3c;
  --md-primary-fg-color--dark: #cf3b1d;
  --md-accent-fg-color: #ff9c3b;
  --md-accent-fg-color--transparent: #ff9c3b1a;
}

.md-logo img {
  height: 1.6rem;
  width: auto;
}

[data-md-color-scheme="default"] .md-logo img {
  content: url("../logo-light.svg");
}

[data-md-color-scheme="slate"] .md-logo img {
  content: url("../logo-dark.svg");
}
